body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.dinheiro {
  position: absolute;
  margin: 20px;
  font-size: 22px;
  font-weight: bold;
  cursor: default;
}

.teste{
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.699) 1px 1px 10px ;
}

.text-dinheiro{
  display: flex;
  
}

.t {
  margin: 3px;
}

.itens-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  padding-bottom: 10px;
  margin: 30px;
  border: 1px black solid;
}

.conteiner-login{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60vh;
}

.conterinet-adcProduto{
  margin-left: 4px;
}

.voltar {
  color: white;
}

Link{
  color: white;
}

.voltar{
  margin-left: 5px;
}

.botoes{
  margin-top: 10px;
}

select {
  display: flex;
}

.conterinet-adcProduto{
  align-content: center;
  border-radius: 5px;
  width: 200px;
  padding: 20px;
  margin-right: 10px;
}

.btn-adicionar{
  margin-bottom: 10px;
}